<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhCoOf2eI39gKAKJfm0SqCzciCAuwM1BI</string>
	<key>GCM_SENDER_ID</key>
	<string>463707758788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.podplayer</string>
	<key>PROJECT_ID</key>
	<string>podplayer-ed61c</string>
	<key>STORAGE_BUCKET</key>
	<string>podplayer-ed61c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463707758788:ios:69e0f244e393eccc60e991</string>
</dict>
</plist>